* {
    text-align: center;
}

#top {
    font-size: 50px;
    color: blueviolet;
}

h2 {
    font-size: 35px;
}

#lasagna {
    background-image: url(./images/lasagna.png);
    background-repeat: no-repeat;
    background-position: bottom;
    padding: 50px;
}